:root {
  --color-wall: rgb(28, 28, 139);

  --game-grid-min-width-small: 336px;
  --game-grid-max-width-small: 336px;
  
  --game-grid-min-width-large: 616px;
  --game-grid-max-width-large: 616px;
  
  --game-grid-div-height-small: 10px;
  --game-grid-div-width-small: 10px;
  
  --game-grid-div-height-large: 20px;
  --game-grid-div-width-large: 20px;
  
  --ctn-section-1-full-screen: 100px;
  --ctn-section-3-full-screen: 100px;
 
  --font-size-small: .5rem;
  --font-size-large: 1rem;
}