@import "_mixins";
@import "_game-board";
@import "_ghosts";
@import "_pacman";

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
   
  background-color: black;
  font-family: 'Fredoka One', cursive;
  font-size: var(--font-size-small);
  // font-size: var(--font-size-large);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ctn-game {
  // border: 10px solid blueviolet;
  display: flex;
  justify-content: center;
  color: white;
  width: 100vw;
}

#instructions {
  order: 1;
  border: 5px solid rgb(150,0,0);
  background-color: #333;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 20%;
  min-width:150px;
  padding: 25px;
  display: block;
  font-size: 2em;
  
  #instruct {
    // border: 3px solid whitesmoke;
    padding: 10px 0;
    margin-top:25px;
  }
  
  .fa-male {
    border: 2px solid whitesmoke;
    width: 15px;
    height: 20px;
    border-radius: 50px;
    padding-left: 8px;
    padding-top: 3px;
  }
}

#section-middle {
 order: 2;  
 display: flex;
 flex-direction: column; 
 justify-content: center; 
 align-items: center; 
}

#credits {
  border: 5px solid rgb(150,0,0);
  background-color: #333;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 20%; 
  min-width:150px;
  padding: 25px;
  order: 3;
  display: block;
  font-size: 2em;
}

@media only screen and (max-width: 600px) {
  body {
    // background-color: lightblue;
    flex-direction: column;
  }
  #marquee {
    display: block;
  }
  #ctn-section-1,
  #ctn-section-2,
  #ctn-section-3 {
    margin: 0;
  }
  
}

#ctn-section-1,
#ctn-section-2,
#ctn-section-3 {
  // border: 1px solid greenyellow;
  margin: 0 25px;
}

#ctn-section-3 {
  // background-color: red;
  // border: 10px dotted greenyellow;
}

#ctn-section-3 #control-board-upper {
  position: absolute;
  // background-color: red;
  // border: 10px dotted greenyellow;
  left: 0;
}
// #ctn-section-1,
// #ctn-section-3, {
//   min-width: var(--ctn-section-1-full-screen);
//   max-width: var(--ctn-section-1-full-screen);
// }  

h1 {
  margin: 0;
}

#title {
  // border: 1px solid white;
  text-align: center;
  display: flex;
  justify-content: center;
}

#marquee-border {
  // border: 4px solid red;
  display: flex;
  width: var(--game-grid-min-width-small);
  flex-direction: column;
  align-items: center;
}

  #marquee {
    color: orange;
    text-shadow: 1px 1px 1px rgba(0,0,0,.7);
    background: whitesmoke;
    font-size: 25px; 
    width: 100%;
    height: 60px;
  }

/* Toggle */
.toggle-text {
  font-size: 10px; 
  padding-left: 10px;}

.toggle {
  border: 1px solid #777;
  background-color: #333;
  color: whitesmoke;
  display: flex;
  align-items: center;
  margin: 10px; 
  font-size: 10px;
  width: 250px;
  height: 30px;
  border-radius: 25px;}

.toggle p {
  margin: 0 8px;}

.toggle-btn {
  display: flex;
  align-items: center;
  height: 30px;
  width: 60px;
  height: 15px;
  width: 30px;
  background-color: black;
  border-radius: 30px;
  padding: 5px;
  margin: 0 10px; }

.toggle-btn:hover {
  cursor: pointer; }

.toggle-btn::after {
  position: absolute;
  content: ". . . .";
  margin-bottom: 5px;
  margin-left: 5px; }

.inner-circle {
  width: 30px;
  height: 30px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  transition: all 250ms;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: orange !important;
  z-index: 1; }

.inner-circle-pac-man-right {
  // clip-path: polygon(100% 0, 50% 50%, 100% 100%, 0 100%, 0 50%, 0 0); 
  // clip-path: polygon(0 0, 100% 0, 49% 54%, 100% 100%, 0 100%, 0 51%, 0 51%);
  clip-path: polygon(100% 0, 100% 0, 49% 53%, 49% 52%, 100% 100%, 100% 100%, 0 100%, 0 50%, 0 0);
}

.inner-circle-pac-man-left {
  // clip-path: polygon(100% 0, 100% 50%, 100% 50%, 100% 100%, 0 100%, 50% 50%, 0 0); 
  // clip-path: polygon(0 0, 70% 0%, 100% 0, 100% 70%, 100% 100%, 0 100%, 55% 52%);
  clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 70%, 100% 100%, 0 100%, 61% 53%, 61% 53%);
}

.toggle-btn.toggled > .inner-circle {
  transform: translateX(15px);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.unselected {
  opacity: 0.25; }

.score-top {
    // border: 1px solid red;
    color: white;
    display: flex;
    justify-content: space-around;
    min-width: var(--game-grid-min-width-small);
    max-width: var(--game-grid-max-width-small);
    margin: 0 auto;
}

.ctn-level-bottom {
    // border: 1px solid green;
    color: black; // Use to be in color?
    color: inherit;
    display: flex;
    justify-content: space-between;
    min-width: var(--game-grid-min-width-small);
    max-width: var(--game-grid-max-width-small);
    margin: 0 auto;
}

#level-bottom {
    // border: 1px solid red;  
    color: black;
    display: flex;
    flex-direction: row-reverse;
    height: 20px;
}

#controller {
  // border: 1px solid white;
  color: white;
  min-width: var(--game-grid-min-width-small);
  max-width: var(--game-grid-max-width-small);
  margin: 0 auto;
}


#control-board {
// border: 1px solid blueviolet;
color: whitesmoke;  
font-family: 'Orbitron', sans-serif;
font-family: 'Monoton', cursive;
  font-family: 'Fascinate Inline', cursive;
  min-width: 400px;
  max-width: 625px;
  
  display: flex;
  flex-direction: column;
}

#control-board-upper {
  // position: absolute;
  
  width: 98%;
  min-width: 400px;
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  border: 5px solid whitesmoke;
  border-radius: 50px;
  height: 125px;  
  
  background-image: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  
  div {
    // border: 3px solid blue;
  }
  
  #control-left-logo {
  background-image: url(../../public/images/LaRocCade-01.png);
  
  height: 75px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width: 140px;
    
    display: flex;
    flex-direction: column;
    grid-area: left-logo;
    font-size: 1.5rem;
    font-weight: bolder;
  }
  #control-left-logo-games {
    // border: 2px solid green;
    font-size: 2rem;
  }
  
  #control-middle-joy-stick {
    // border: 1px solid blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    
    font-size: 2rem;
    grid-gap: 0 10px;
    
    margin-right: 50px;

    #joystick-up,
    #joystick-down,
    #joystick-left,
    #joystick-right {
      border: 3px solid whitesmoke;
      padding: 5px 10px;
      border-radius: 100%;
      font-size: 1rem; 
    }
  }
  
  #control-right {
    display: flex;
  }
  
  #control-board-button-1,
  #control-board-button-2 {
    border: 3px solid whitesmoke;
    margin: 0 10px;
    padding: 5px 12px;
    border-radius: 100%;
  }
  
  #control-board-button-2 {
    display: block;
  }
  
  #control-board-button-pause {
    border: 3px solid whitesmoke;
    margin: 0 10px;
    padding: 5px 8px;
    border-radius: 100%; 
  }
  
  #control-middle-space-bar {
    // border: 3px solid red;
    position: relative;
    bottom: 5px;

  }
}

// media
@media only screen and (max-width: 600px) {
  
  #ctn-game{
    margin-top: 50px;
  }
   
  #control-board,
  #control-board-upper {
    display: flex;
    align-self: center;
    max-width: 350px;
    min-width: 350px;
    
    #control-board-button-1 {
      height: 15px;
      font-size: 12px;
    }
    
  }
  
  #control-left-logo {
    font-size: 1rem !important;
    // display: none !important;
    width: 90px !important;
    height: 50px !important;
  }
  #control-right {
    margin-left: -50px;
  }
  
  #control-board-button-1 {
    // order: 1;
    // display: none !important;
  }
  #control-board-button-2 {
    // order: 1;
  }
  
  #control-middle-joy-stick {
    // order: 1;

  }
  #control-board-button-pause {
     // order: 3;
     // display: none !important;
    }
  
    #ctn-section-3 #control-board-upper {
      position: relative;
      // background-color: red;
      // border: 10px dotted blue;
      // left: 0;
      width: var('--game-grid-max-width-small');
    }
  
    .toggle {
      display: none;
    }
  
  #instructions,
  #credits {
   display: none; 
  }
  
}

.blink {
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}